apiVersion: apps/v1
kind: Deployment
metadata:
  name: control-plane-api
spec:
  template:
    spec:
      containers:
        - name: api
          envFrom:
            - configMapRef:
                name: control-plane-config

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: control-plane-operator
spec:
  template:
    spec:
      containers:
        - name: operator
          envFrom:
            - configMapRef:
                name: control-plane-config
