apiVersion: apps/v1
kind: Deployment
metadata:
  name: control-plane-api
spec:
  template:
    spec:
      volumes:
        - name: tailscale-state
          emptyDir: {}
      containers:
        - name: tailscale
          image: tailscale/tailscale:stable
          imagePullPolicy: IfNotPresent
          env:
            - name: TS_STATE_DIR
              value: /var/lib/tailscale
            - name: TS_USERSPACE
              value: "true"
            - name: TS_AUTHKEY
              valueFrom:
                secretKeyRef:
                  name: tailscale-auth
                  key: TS_AUTHKEY
          volumeMounts:
            - name: tailscale-state
              mountPath: /var/lib/tailscale
