apiVersion: apps/v1
kind: Deployment
metadata:
  name: control-plane-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: control-plane-api
  template:
    metadata:
      labels:
        app: control-plane-api
    spec:
      serviceAccountName: control-plane
      containers:
        - name: api
          image: kocao/control-plane-api:dev
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
          env:
            - name: CP_HTTP_ADDR
              value: ":8080"
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
