apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: control-plane-api
rules:
  - apiGroups:
      - ""
    resources:
      - pods/exec
    verbs:
      - create
  - apiGroups:
      - ""
    resources:
      - pods
    verbs:
      - get
      - list
  - apiGroups:
      - ""
    resources:
      - pods/log
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - get
  - apiGroups:
      - apps
    resources:
      - deployments
    verbs:
      - get
      - list
  - apiGroups:
      - kocao.withakay.github.com
    resources:
      - sessions
      - harnessruns
    verbs:
      - get
      - list
      - create
      - delete
      - patch

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: control-plane-api
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: control-plane-api
subjects:
  - kind: ServiceAccount
    name: control-plane-api
