apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: sessions.kocao.withakay.github.com
spec:
  group: kocao.withakay.github.com
  names:
    kind: Session
    plural: sessions
    singular: session
    shortNames:
      - sess
  scope: Namespaced
  versions:
    - name: v1alpha1
      served: true
      storage: true
      subresources:
        status: {}
      schema:
        openAPIV3Schema:
          type: object
          required:
            - spec
          properties:
            spec:
              type: object
              properties:
                repoURL:
                  type: string
            status:
              type: object
              properties:
                observedGeneration:
                  type: integer
                  format: int64
                phase:
                  type: string
                  enum:
                    - Pending
                    - Active
                    - Terminating
                conditions:
                  type: array
                  items:
                    type: object
                    x-kubernetes-preserve-unknown-fields: true
