apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: control-plane-operator
rules:
  - apiGroups:
      - ""
    resources:
      - pods
      - pods/status
      - persistentvolumeclaims
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
  - apiGroups:
      - networking.k8s.io
    resources:
      - networkpolicies
    verbs:
      - get
      - list
      - watch
      - create
      - delete
      - patch
      - update
  - apiGroups:
      - kocao.withakay.github.com
    resources:
      - sessions
      - sessions/status
      - harnessruns
      - harnessruns/status
    verbs:
      - get
      - list
      - watch
      - patch
      - update

---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: control-plane-operator
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: control-plane-operator
subjects:
  - kind: ServiceAccount
    name: control-plane-operator
